.align-baseline {
    vertical-align: baseline
}
.align-top {
    vertical-align: top
}
.align-middle {
    vertical-align: middle
}
.align-bottom {
    vertical-align: bottom
}
.align-text-top {
    vertical-align: text-top
}
.align-text-bottom {
    vertical-align: text-bottom
}
.align-sub {
    vertical-align: sub
}
.align-super {
    vertical-align: super
}
.text-left {
    text-align: left
}
.text-right {
    text-align: right
}
.text-center {
    text-align: center
}
.text-justify {
    text-align: justify
}
.serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
.sans: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
.mono: font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
.font-base {
    font-size: 1rem;
    line-height: 1.6
}
.font-xs {
    font-size: 0.75rem;
    line-height: 1.6
}
.font-s {
    font-size: 0.875rem;
    line-height: 1.6
}
.font-lg {
    font-size: 1.25rem;
    line-height: 1.6
}
.font-xl {
    font-size: 1.5rem;
    line-height: 1.6
}
.font-2xl {
    font-size: 1.875rem;
    line-height: 1.6
}
.font-3xl {
    font-size: 2rem;
    line-height: 1.6
}
.font-4xl {
    font-size: 2.25rem;
    line-height: 1.6
}
.non-italic: normal;
.italic: italic;
.weight-thin {
    font-weight: 100
}
.weight-extralight {
    font-weight: 200
}
.weight-light {
    font-weight: 300
}
.weight-normal {
    font-weight: 400
}
.weight-medium {
    font-weight: 500
}
.weight-semibold {
    font-weight: 600
}
.weight-bold {
    font-weight: 700
}
.weight-extrabold {
    font-weight: 800
}
.weight-black {
    font-weight: 900
}
.line-0 {
    line-height: 1
}
.line-xs {
    line-height: 1.2
}
.line-sm {
    line-height: 1.375
}
.line-base {
    line-height: 1.5
}
.line-lg {
    line-height: 1.625
}
.line-xl {
    line-height: 2
}
.overline: red;
.underline: underline;
.line-through: line-through;
.no-underline: none;
.decoration-style {
    solid: solid;
    double: double;
    dotted: dotted;
    dashed: dashed;
    wavy: wavy
}
.text-black {
    color: #000000
}
.text-white {
    color: #ffffff
}
.text-red {
    color: 'red'
}