$menu-title-color: lighten($dark-grey, 25%) !default;
$menu-title-font-size: calculateRem(13.6) !default;
$menu-title-line-height: 1.5 !default;
$menu-title-padding: calculateRem(8) calculateRem(16) !default;
$menu-title-case: uppercase !default;

$menu-list-color: $black !default;
$menu-list-line-height: 1.5 !default;
$menu-list-padding: calculateRem(8) calculateRem(24) !default;
$menu-list-active-background: $primary !default;
$menu-list-active-color: getTextColor($primary) !default;
$menu-list-hover: rgba(192, 192, 192, 0.09) !default;

$menu-divider: 1px solid #e9ecef !default;
$menu-divider-margin: calculateRem(8) !default;

$menu-expandable-border: 1px solid #e9ecef !default;
$menu-expandable-margin: calculateRem(12) !default;
$menu-expandable-padding-left: calculateRem(12) !default;
$menu-expandable-item-padding: 0 calculateRem(12) !default;

.menu {

  &__title {
    color: $menu-title-color;
    font-size: $menu-title-font-size;
    line-height: $menu-title-line-height;
    padding: $menu-title-padding;
    margin: 0;
    text-transform: $menu-title-case;
  }

  &__list {
    list-style: none;
    margin: 0;

    & > li.is-active:not(.is-expandable) > a, li.is-expandable.is-active > :first-child, li:not(.is-expandable) li.is-active > a {
      background-color: $menu-list-active-background;
      color: $menu-list-active-color;
    }

    li {
      color: $menu-list-color;
      line-height: $menu-list-line-height;

      > a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }

      &.is-expandable {
        & > :first-child {
          display: block;
          padding: $menu-list-padding;
        }

        &:not(.is-active) > :first-child:hover {
          background-color: $menu-list-hover;
        }

        &.is-active > ul {
          display: block;
        }

        & > ul {
          border-left: $menu-expandable-border;
          list-style: none;
          display: none;
          margin: $menu-expandable-margin;
          padding-left: $menu-expandable-padding-left;

          li {
            padding: $menu-expandable-item-padding;

            &.is-active {
              a {
                background-color: $menu-list-hover;
                color: $menu-list-color;
              }
            }
          }
        }
      }

      &:not(.is-expandable) {
        ul {
          list-style: none;
        }
      }
    }

    li:not(.is-expandable) {
      cursor: pointer;

      &:not(.is-active) > a:hover {
         background-color: $menu-list-hover;
      }

      a {
        display: block;
        padding: $menu-list-padding;
      }
    }
  }

  &__divider {
    border-top: $menu-divider;
    margin: $menu-divider-margin;
  }

}
