$pagination-background: transparent !default;
$pagination-border: 1px solid transparent !default;
$pagination-font-size: 0.875rem !default;
$pagination-color: $black !default;
$pagination-line-height: 1.5 !default;
$pagination-margin: 0.125rem !default;
$pagination-padding: 0.375rem 0.75rem !default;
$pagination-padding-bottom: calc(0.375rem - 1px) !default;
$pagination-active-background: $primary !default;
$pagination-active-color: getTextColor($primary) !default;
$pagination-disabled-opacity: 0.5 !default;
$pagination-hover-background: #f5f5f5 !default;
$pagination-rounded: 50px !default;
$pagination-rounded-margin: 0.25rem !default;
$pagination-bordered-background: $white !default;
$pagination-bordered-radius: 4px !default;
$pagination-bordered: 1px solid $light-grey !default;
$pagination-bordered-active: $primary !default;
$pagination-bordered-hover: darken($light-grey, 10%) !default;

.pagination {
  display: flex;
  flex-direction: column;

  @include medium {
    align-items: flex-end;
    flex-direction: row;
  }

  ul {
    display: flex;
    margin: 0;
  }

  .is-center {
    margin: 0 auto;
  }

  .is-end {
    margin-left: auto;
  }

  li {
    background-color: $pagination-background;
    border: $pagination-border;
    cursor: pointer;
    color: $pagination-color;
    display: inline-block;
    font-size: $pagination-font-size;
    line-height: $pagination-line-height;
    justify-content: center;
    margin: $pagination-margin;
    text-align: center;

    a {
      color: inherit;
      display: block;
      padding: $pagination-padding;
      padding-bottom: $pagination-padding-bottom;

      &:hover {
        text-decoration: none;
      }
    }

    &.is-active {
      background-color: $pagination-active-background;
      color: $pagination-active-color;
    }

    &.is-disabled, &.is-disabled > a {
      cursor: not-allowed;
      opacity: $pagination-disabled-opacity;
    }

    &:hover:not(.is-active):not(.is-disabled) {
      background-color: $pagination-hover-background;
    }

  }

  &.has-border {
    li {
      background-color: $pagination-bordered-background;
      border: $pagination-bordered;
      border-radius: $pagination-bordered-radius;

      &.is-active {
        background-color: $pagination-active-background;
        border-color: $pagination-bordered-active;
      }

      &:not(.is-active):not(.is-disabled):hover {
        border-color: $pagination-bordered-hover;
      }
    }
  }

  &.has-round {
    li {
      border-radius: $pagination-rounded;
      margin: $pagination-rounded-margin;
    }
  }
}
