$container-padding: 10px !default;
$container-max-width: 1200px;
$container-max-width-full: calc(100% - (#{$container-padding} * 2));
.container {
  max-width: $container-max-width;
  margin: 0 auto;
  width: 100%;

  &.is-full {
    max-width: $container-max-width-full;
    padding: 0 $container-padding;
  }
}
