@function calculateRem($size) {
  @return ($size / $font-base)+rem;
}

@function calculateEm($size) {
  @return ($size / $font-base)+em;
}

@mixin small {
  @media (max-width: #{$small-max}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: #{$x-large}) {
    @content;
  }
}

@function color($key) {
  @if map-has-key($color-palette, $key) {
    @return map-get($color-palette, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// This does not always yield perfect results. Know a better solution? Please contribute!
@function getTextColor($color) {
  @if(lightness($color) > 60) {
    @return color(black);
  }
  @else {
    @return color(white);
  }
}

@mixin element-color($background, $border, $color: getTextColor($background)) {
  background-color: $background;
  border-color: $border;
  color: $color;
}

@function title-size($key) {
  @if map-has-key($title-size, $key) {
    @return map-get($title-size, $key);
  }

  @warn "Unknown `#{$key}` in $title-size.";
  @return null;
}
