$alert-border-color: rgba(10, 10, 10, 0.25) !default;
$alert-border-style: solid !default;
$alert-border-width: 1px !default;
$alert-radius: 0 !default;
$alert-padding: calculateRem(16) !default;

.alert {
  border-width: $alert-border-width;
  border-style: $alert-border-style;
  border-radius: $alert-radius;
  display: flex;
  flex-flow: column nowrap;
  padding: $alert-padding;
  position: relative;
  @include element-color($white, $alert-border-color, $black);

  .button--close {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  @each $color in $color-palette {
    &.is-#{nth($color, 1)} {
      @include element-color(transparentize(nth($color, 2), 0.8), $alert-border-color, $black);

      &.is-outline {
        @include element-color($white, nth($color, 2), nth($color, 2));
      }
    }
  }
}
