$media-border-width: 1px !default;
$media-border-style: solid !default;
$media-border-color: #e9ecef !default;
$media-padding-top: 1rem !default;
$media-margin-top: 1rem !default;

%media-divide {
  border-top: $media-border-width $media-border-style $media-border-color;
  margin-top: $media-padding-top;
  padding-top: $media-margin-top;
}

.media {
  align-items: flex-start;
  display: flex;

  & + .media {
    @extend %media-divide;
  }

  &__content {
    flex:auto;

    & .media {
      @extend %media-divide;
    }
  }

  &__left {
    margin-right: 1rem;
  }

  &__right {
    margin-left: 1rem;
  }
}
