$panel-radius: 4px !default;
$panel-shadow: 0 0 10px 0 createColor(rgba(10, 10, 10, 0.21)) !default;
$panel-padding: calculateRem(16) !default;

.panel {
  --border-radius: #{$panel-radius};
  --box-shadow: #{$panel-shadow};
  --padding: #{$panel-padding};

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: block;
  padding: var(--padding);
  width: 100%;
}
