$tab-bar-color: #e6e6e6 !default;
$tab-bar-width: 1px !default;
$tab-item-padding: 0.75rem 1rem 0.5rem !default;
$tab-item-color: $black !default;
$tab-item-active-color: $link !default;
$tab-border-radius: 6px !default;
$tab-content-padding: 1rem !default;

.tabs {
  width: 100%;

  @each $color in $color-palette {
    &.is-#{nth($color, 1)} {
      .tabs__item.is-active, .tabs__item:hover {
        @include element-color(nth($color, 2), transparent);
      }
    }
  }

  &.has-borders {
    .tabs__item, .tabs__title {
      border-color: #e6e6e6;
      border-width: 1px 0 1px 1px;

      &:first-of-type {
        border-radius: $tab-border-radius 0 0;
      }

      &:last-of-type {
        border-radius: 0 $tab-border-radius 0 0;
        border-width: 1px;
      }

      &:only-of-type {
        border-radius: $tab-border-radius $tab-border-radius 0 0;
      }
    }

    .tabs__content {
      border: 1px solid #e6e6e6;
      border-radius: 0 0 $tab-border-radius $tab-border-radius;
      border-width: 0 1px 1px;
    }
  }

  &__list {
    align-items: center;
    border-bottom: $tab-bar-width solid $tab-bar-color;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    list-style: none;
    margin: 0;
  }

  &__title, &__item {
    border-color: transparent;
    border-style: solid;
    border-width: $tab-bar-width;
    color: $tab-item-color;
    display: block;
    margin-bottom: -1px;
    padding: $tab-item-padding;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__item {
    &.is-active, &:hover {
      color: $tab-item-active-color;
      border-bottom: $tab-bar-width solid $tab-item-active-color;
    }
  }

  &__content {
    display: none;
    padding: $tab-content-padding;

    &.is-open {
      display: block;
    }
  }
}
