$input-border-color: #dbdbdb;
$input-border: 1px solid $input-border-color !default;
$input-shadow: inset 0 1px 2px rgba(10,10,10,.1) !default;
$input-font-size: calculateRem(16) !default;
$input-line-height: 1.5 !default;
$input-padding: calculateRem(8) !default;
$input-focus-border: $info !default;
$input-focus-shadow: 0 0 0 0.125em rgba(50,115,220,.25) !default;
$input-disabled-background: $disabled !default;
$input-disabled-border: $disabled !default;
$input-disabled-color: #afafaf !default;

$select-arrow-color: #7284ff !default;
$select-arrow-height: calculateEm(6);
$select-arrow-width: calculateEm(6);
$select-multiple-padding: .5rem 1rem !default;
$select-padding: calculateRem(8) !default;

$label-font-weight: 600 !default;
$label-bottom-margin: calculateRem(6.4) !default;

$switch-outer-radius: 20px !default;
$switch-inner-radius: 15px !default;
$switch-background: #dbdbdb !default;
$switch-checked-background: $primary !default;
$switch-height: calculateRem(32) !default;
$switch-width: calculateRem(64) !default;
$switch-toggle-background: $white !default;
$switch-toggle-height: calculateRem(24) !default;
$switch-toggle-width: calculateRem(24) !default;

$slider-thumb-color: $primary !default;
$slider-thumb-radius: 20px !default;
$slider-thumb-height: 1.5rem !default;
$slider-thumb-width: 1.5rem !default;
$slider-track-height: 8.4px !default;
$slider-track-background: #dbdbdb !default;

@mixin sliderThumb() {
  height: $slider-thumb-height;
  width: $slider-thumb-width;
  border-radius: $slider-thumb-radius;
  background: $slider-thumb-color;
  cursor: pointer;
  margin-top: -8px;
}
@mixin sliderTrack() {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: $slider-track-background;
}

form, input, textarea, select {
  margin: 0;
  padding: 0;
}

.form-field {
  width: 100%;
}

input[type="text"], input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="password"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="week"], input[type="url"], textarea, select {
  border: $input-border;
  border-radius: 0;
  box-shadow: $input-shadow;
  box-sizing: border-box;
  font-size: $input-font-size;
  font-family: inherit;
  line-height: $input-line-height;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $input-focus-border;
  }

  &:not([readonly]):focus {
    box-shadow: $input-focus-shadow;
  }

  &[disabled] {
    background-color: $input-disabled-background;
    border-color: $input-disabled-border;
    box-shadow: none;
    color: $input-disabled-color;
  }

  &.has-error {
    border-color: $danger;
    background-color: transparentize($danger, 0.9);
  }
}

input, textarea {
  padding: $input-padding;
}

textarea {
  resize: none;

  &.has-resize {
    resize: both;

    &-vertical {
      resize: vertical
    }

    &-horizontal {
      resize: horizontal;
    }
  }
}

.is-select {
  position: relative;
  width: 100%;

  select {
    padding: $select-padding;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  &::after {
    border-color: $select-arrow-color;
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: $select-arrow-height;
    margin-top: -(calculateEm(5));
    pointer-events: none;
    position: absolute;
    right: calculateEm(15);
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: $select-arrow-width;
  }
}

.is-multiple-select {
  width: 100%;

  select {
    padding: 0;
  }

  option {
    padding: $select-multiple-padding;
  }
}


label {
  display: inline-block;
  font-weight: $label-font-weight;
}

label:not(:last-child) {
  margin-bottom: $label-bottom-margin;
}

.is-checkbox > label, input[type="checkbox"] + label, input[type="radio"] + label, .is-radio > label {
  font-weight: 400;
  margin-bottom: 0;
}

.is-checkbox input[type="checkbox"] + label, .is-radio input[type="radio"] + label {
  margin-left: 4px;
}

.is-radio input[type="radio"]:not(:first-of-type), .is-checkbox input[type="checkbox"]:not(:first-of-type) {
  margin-left: 12px;
}

.is-inline-label {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.is-input-group {
  align-items: center;
  display: flex;

  label, span {
    border: $input-border;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.5;
    outline: none;
    background-color: #f7f7f7;
    padding: 0.5rem 1rem;
  }

  .button {
    line-height: 1.5;
    white-space: nowrap;
  }

  input, select {
    box-shadow: none;

    &[disabled] {
      border-color: $input-border-color;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  label, span, input, .button {
    margin: 0;
    &:not(:first-child) {
      border-left-color: transparent;
    }
  }

  .is-select:not(:first-child) {
    select {
      border-left-color: transparent;
    }
  }
}

.is-switch {
  line-height: 0.8;

  &.is-rounded {
    label {
      border-radius: $switch-outer-radius;

      &::after {
        border-radius: $switch-inner-radius;
      }
    }
  }

  input {
    margin: 0;
    opacity: 0;
    position: absolute;
  }

  input:checked ~ label {
    background-color: $switch-checked-background;
    &::after {
      left: 2.25rem;
    }
  }

  label {
    background: $switch-background;
    cursor: pointer;
    display: inline-block;
    height: $switch-height;
    position: relative;
    transition: all 0.25s ease-out;
    width: $switch-width;

    &::after {
      content: '';
      background: $switch-toggle-background;
      display: block;
      left: 0.25rem;
      height: $switch-toggle-height;
      position: absolute;
      top: 0.25rem;
      transition: all 0.25s ease-out;
      width: $switch-toggle-width;
    }
  }

  &.is-small {
    input:checked ~ label::after {
      left: 1.68rem;
    }

    label {
      height: 1.5rem;
      width: 3rem;

      &::after {
        height: 1.125rem;
        top: 0.1875rem;
        width: 1.125rem;
      }
    }
  }
}

.is-slider {

  width: 100%;

  input[type="range"] {
    background: transparent;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;

    &::-webkit-slider-thumb {
      @include sliderThumb();
      -webkit-appearance: none;
    }
    &::-moz-range-thumb {
      @include sliderThumb();
      border-color: transparent;
      -moz-appearance: none;
    }
    &::-ms-thumb {
      @include sliderThumb();
      -ms-appearance: none;
    }

    &::-webkit-slider-runnable-track {
      @include sliderTrack();
    }

    &::-moz-range-track {
      @include sliderTrack();
    }

    &::-ms-track {
      @include sliderTrack();
    }

    &:focus {
      outline: none;
    }
  }
}

.is-file-input, .upload {
  input[type="file"] {
    display: none;
  }

  label {
    font-weight: normal;
  }
}
