$input-background-color: var(--color-white) !default;
$input-border-color: createColor(#dbdbdb) !default;
$input-border-width: 1px !default;
$input-border-radius: 0 !default;
$input-color: var(--color-black) !default;
$input-shadow: inset 0 1px 2px createColor(rgba(10, 10, 10, 0.1)) !default;
$input-font-size: calculateRem(16) !default;
$input-line-height: 1.5 !default;
$input-padding: calculateRem(8) !default;
$input-focus-border: var(--color-info) !default;
$input-focus-shadow: 0 0 0 0.125em createColor(rgba(50,115,220,.25)) !default;
$input-disabled-background: var(--color-disabled) !default;
$input-disabled-border: var(--color-disabled) !default;
$input-disabled-color: var(--color-muted) !default;
$input-error-background: var(--color-danger-alert) !default;
$input-error-border-color: var(--color-danger) !default;
$input-error-color: var(--color-black) !default;

$select-arrow-color: createColor(#7284ff) !default;
$select-arrow-width: calculateEm(10) !default;
$select-padding: calculateRem(8) !default;
$select-multiple-padding: .5rem 1rem !default;
$select-loading-speed: .8s !default;
$select-loading-width: 2px !default;
$select-loading-color: var(--color-light-grey) !default;

$label-font-weight: 600 !default;
$label-bottom-margin: calculateRem(6.4) !default;
$label-line-height: 1.6 !default;
$label-font-size: calculateRem(16) !default;

form, input, textarea, select {
  margin: 0;
  padding: 0;
}

input[type="text"], input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="password"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="week"], input[type="url"], textarea, select {
  --border-width: #{$input-border-width};
  --border-radius: #{$input-border-radius};
  --box-shadow: inset 0 1px 2px #{createColor(rgba(10,10,10, 0.1))};
  --font-size: #{$input-font-size};
  --line-height: #{$input-line-height};
  --padding: #{$input-padding};
  --background-color: #{$input-background-color};
  --border-color: #{$input-border-color};
  --font-color: #{$input-color};
  --padding: #{$input-padding};
  --width: 100%;

  --focus-border-color: #{$input-focus-border};
  --focus-box-shadow: #{$input-focus-shadow};

  --disabled-background-color: #{$input-disabled-background};
  --disabled-box-shadow: none;
  --disabled-font-color: #{$input-disabled-color};
  --disabled-border-color: #{$input-disabled-border};

  --error-border-color: #{$input-error-border-color};
  --error-background-color: #{$input-error-background};
  --error-font-color: #{$input-error-color};

  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: inherit;
  line-height: var(--line-height);
  padding: var(--padding, 0);
  outline: none;
  width: var(--width);

  &:focus {
    --border-color: var(--focus-border-color);
  }

  &:not([readonly]):focus {
    --box-shadow: var(--focus-box-shadow);
  }

  &[disabled] {
    --background-color: var(--disabled-background-color);
    --box-shadow: var(--disabled-box-shadow);
    --font-color: var(--disabled-font-color);

    :not(.is-input-group) > & {
      --border-color: var(--disabled-border-color);
    }
  }

  &.has-error {
    --border-color: var(--error-border-color);
    --background-color: var(--error-background-color);
    --font-color: var(--error-font-color);
  }
}

input[type="date"], input[type="datetime-local"] {
  &::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
}

textarea {
  resize: none;

  &.has-resize {
    resize: both;

    &-vertical {
      resize: vertical;
    }

    &-horizontal {
      resize: horizontal;
    }
  }
}

.is-select {
  --arrow-color: #{$select-arrow-color};
  --arrow-width: #{$select-arrow-width};
  --loading-spinner-speed: #{$select-loading-speed};
  --loading-icon-width: #{$select-loading-width};
  --loading-icon-color: #{$select-loading-color};

  position: relative;
  width: 100%;

  select {
    --pading: #{$select-padding};
    padding-right: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  &:not(.is-loading)::after {
    border-color: var(--arrow-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: var(--arrow-width);
    margin-top: calculateEm(-6.4);
    pointer-events: none;
    position: absolute;
    right: calculateEm(15);
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: var(--arrow-width);
  }

  &.is-loading {
    position: relative;

    &::after {
      animation: spinner var(--loading-spinner-speed) linear infinite;
      border: var(--loading-icon-width) solid var(--loading-icon-color);
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      content: ' ';
      display: block;
      height: 1.25em;
      position: absolute;
      top: calc(50% - (1.25em / 2));
      right: calculateEm(15);
      width: 1.25em;
      position: absolute !important;
    }
  }
}

.is-multiple-select {
  width: 100%;

  select {
    padding: 0;
  }

  option {
    padding: #{$select-multiple-padding};
  }
}

label {
  --font-size: #{$label-font-size};
  --font-weight: #{$label-font-weight};
  --line-height: #{$label-line-height};
  --font-color: inherit;

  color: var(--font-color);
  display: inline-block;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

label:not(:last-child) {
  margin-bottom: $label-bottom-margin;
}

.is-inline-label {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.is-checkbox, .is-radio {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  label {
    font-weight: 400;
    margin-bottom: 0;
  }

  & > span {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

.is-checkbox input[type="checkbox"] + label, .is-radio input[type="radio"] + label {
  margin-left: 4px;

  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

.is-input-group {
  --background-color: var(--color-disabled);
  --border-color: #{$input-border-color};
  --border-width: #{$input-border-width};
  --font-color: var(--color-black);
  --font-size: #{$input-font-size};
  --focus-color: #{$input-focus-border};

  align-items: center;
  display: flex;
  width: 100%;

  & > label, & > span {
    border-color: var(--border-color);
    border-style: solid;
    border-width: var(--border-width);
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    background-color: var(--background-color);
    padding: calculateRem(8) calculateRem(16);
  }

  & > .button {
    line-height: 1.5;
    white-space: nowrap;
  }

  input, select {
    box-shadow: none;

    &:focus {
      box-shadow: none !important;
    }
  }

  & > label, & > span, input, & > .button {
    margin: 0;
    &:not(:last-child) {
      border-right: none;
    }

    &:focus + * {
      border-left-color: var(--focus-color);
    }
  }

  .is-select:not(:last-child) {
    select {
      border-right-color: transparent;
    }

    &:focus-within + * {
      border-left-color: var(--focus-color);
    }
  }
}

.is-file-input {
  input[type="file"] {
    display: none;
  }

  label {
    font-weight: normal;
  }
}
